{{range gets "/hosts/*/*/pub_key"}}
{{.Value}}{{end}}

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDYjBpM9COfr72JcBKAGrhR09Q/rTWWNMt6aU0vdkhACNlmrdONoBsFA+0qLWtOUohkq9f6mdUPeGmKjGRQpFcWnZouxaznxHqFB6rq8OS+lDPSrPmMI3e0IV3j/F83S5NHrjgKG1iGmqQBhak/WIqNpsLsrPE77PKpvSXd3WXsvHuRDXTR1OiOLmZ7CQMZ5d6kkkEGGsy9iRIZUd5sc6DLgwxrRKtNbhpR3+9aq6ZrkMEvSqf9hzpixSPCp7vRhrHYhQsodWkukoxCh64p7djIoiC5xiXqlPFx9YsLStRxLyRR4EqE0tEotzqKCIEyP5ibucrE/lsJ1DLVhZTQUyEwPpbeRtlphsn+CnUQezDLGIiC1DF85m6WA3fioqCmE2Ofhgv2j8fSfMCUyOyD393fovB87hWvTt4quJnelFG0OkK7wfRwDU4xkQMr5kAk3PrG0nKHaQjtPTem25GA7gsIdQsHYY2jHUij+ai615+ZN6uL5RW8bCxRirEnkqTnfjAjXTy8RgimygBHcR1sqa/fLY4tgLHl0wdSgYvVPXEuo45p73gnf+Goqc7FlSRxZwDvVyz4/PAEMNJNel0sOxCKlMJfNrJAd3XVtqLlmK2LcQsUdlVt9iBPVH7oRkVNakYpXXgIbzyqf17jlK2w/fqBTW6TlOPZPNFil3g67K4I9w== zheng1@yunfiy.com

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCtNdc9C/mnioDYxSTkRJcz75ZpmlcQijWZZDBBlom/syj1c+DShuJW1EBk4xxz2+OmMvc2mpCbUwRsQisZlcxeotGjO9C6D+8VOICs5PpoX99WwA90CtXcHNifm1+nfn3zOtB5MkeKQqoz1+4lH+O70G20StSAgMgDc8O56cwfUIcrXwjN/QiT6Mtrij3dwKdjGqLW+XdFUvkOjDlvfETOp1M8v4S2uZ2RNdZoPgjLBBBooR0qxgH7NKfuM2Uf01PcACfxojKF5N6AJdRpVqviGYVx0JvI06NfqYtt6lQzcdLFVA22GM+ZdB6F/UiBzhSFUiqeT1UttKmf1PlA2JN3 kp-6r16an6d

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCuknR4gpqOOGfSUkmFbnTYCKWzDad0SxyMfpPEFChjT62uid4cpn6aKSAQkglQqxDrx12k1wb/dhQlOeU5bjs+y6a8V9dxMM1ZeH5SGrc8UmtkCmdlIabkhbk6Z5sZMBze7xiTknYRKJFvObE6HWDNv9BUWw6kGjkoWY9j8u3OTQka1H0n5fIH4llsL2MhpSErv6Axk/QU8LnFoFCKHLj0y60pi17wut8AhmsYrfsKv8UefDUOsl9wHZn4Ub6PQI/RbjAoOKWexBvu+SozKckDOIDbC6sZlqtyWlB1+vrUwhAhX0lj7O8V3nN6B4idHg6RZgSg+5QgPlLfTKpLkW1/ root@i-a207krbb