0.0.0.0:80 {
  basicauth / "{{getv "/env/caddy_user"}}" "{{getv "/env/caddy_password"}}"
  root /data/logs
  browse
  gzip
  tls off
  log /data/caddy/logs/access.log {
    rotate_age 7
    rotate_size 10
    rotate_keep 10
  }
}