{
   "name":{{cluster.name}},
   "description":{{cluster.description}},
   "vxnet":{{cluster.vxnet}},
   "backup_policy": "device",
   "incremental_backup_supported": true,
   "advanced_actions": ["change_vxnet", "scale_horizontal"],
   "nodes":[{
      "role":"replica",
      "container":{
         "type":"kvm",
         "zone":"sh1",
         "image":"img-yr6otavs"
      },
      "instance_class":{{cluster.replica.instance_class}},
      "count":{{cluster.replica.count}},
      "cpu":{{cluster.replica.cpu}},
      "memory":{{cluster.replica.memory}},
      "volume":{
         "size":{{cluster.replica.volume_size}},
         "mount_point":"/data",
         "filesystem":"xfs"
      },
      "services": {
         "init": {
            "post_start_service": true,
            "nodes_to_execute_on": 1,
            "cmd": "appctl init"
         },
         "start": {
            "cmd": "appctl start"
         },
         "stop": {
            "cmd": "appctl stop"
         },
         "scale_out": {
            "cmd": "appctl scaleOut"
         },
         "scale_in": {
            "nodes_to_execute_on": 1,
            "cmd": "appctl scaleIn"
         },
         "destroy": {
            "cmd": "appctl destroy"
         }
		}
	}],
   "env": {
      "user": {{env.user}},
      "passwd": {{env.passwd}},
      "maxConns": {{env.maxConns}},
      "oplogSize": {{env.oplogSize}},
      "rsName": {{env.rsName}},
      "port": {{env.port}}
   }
}