#!/usr/bin/env bash

port=22
abs_path=$0
copy_path="/opt/app/bin/ssh-iptables-op.sh.copy"
case $1 in
    "ban")
        iptables -I INPUT -p tcp --dport ${port} -j REJECT
        iptables -I INPUT -s 127.0.0.1 -p tcp --dport ${port} -j ACCEPT
        {{- range $dir := lsdir "/hosts/replica" }}
        {{- $ip := printf "/hosts/replica/%s/ip" $dir }}
        iptables -I INPUT -s {{getv $ip}} -p tcp --dport ${port} -j ACCEPT
        {{- end }}
        echo "port 22 has been ban"
        cp -f ${abs_path} ${copy_path}
        echo "copy file successful"
        ;;
    "open")
        iptables -D INPUT -p tcp --dport ${port} -j REJECT
        iptables -D INPUT -s 127.0.0.1 -p tcp --dport ${port} -j ACCEPT
        {{- range $dir := lsdir "/hosts/replica" }}
        {{- $ip := printf "/hosts/replica/%s/ip" $dir }}
        iptables -D INPUT -s {{getv $ip}} -p tcp --dport ${port} -j ACCEPT
        {{- end }}
        ;;
    "exec_copy_file")
        # copy_file 不存在的话，说明防火墙未添加 ban 的规则，不需要执行 -D 删除规则，可跳过
        if test -f ${copy_path};then
            echo "exec copy file"
            ${copy_path} open
        else
            echo "copy file do not exist"
        fi
        ;;
esac