#!/usr/bin/env bash

#mongodb管理员用户
authuser=qc_master
#mongodb管理员密码
authpass=$(cat /data/pitrix.pwd)
#Mongodb指定验证数据库
authdb=admin
#mongodb指定端口
dbport={{ getv "/env/port" }}
#mongodb安装路径
dbpath=/opt/mongodb/bin/
${dbpath}/mongo --port ${dbport} -u ${authuser} -p ${authpass} --authenticationDatabase ${authdb}
