NODE_CTL=replicactl
SERVICES=mongod/true/tcp:{{getv "/env/port"}}
MY_IP={{getv "/host/ip"}}
DATA_MOUNTS=/data

MY_SID={{getv "/host/sid"}}
MY_PORT={{getv "/env/port"}}
RSNAME={{getv "/env/rsname"}}
NODE_LIST=(
    {{range $dir := lsdir "/hosts/replica"}}
    {{$sid := printf "/hosts/replica/%s/sid" $dir}}
    {{$ip := printf "/hosts/replica/%s/ip" $dir}}
    '{{getv $sid}}|{{getv $ip}}'
    {{end}})
MONGOSHELL=/opt/mongodb/current/bin/mongo

{{$dir := ls "/adding-hosts"}}
{{$len := len $dir}}
{{if gt $len 0 }}
ADDING_HOSTS=true
ADDING_LIST=(
    {{range $dir := lsdir "/adding-hosts/replica"}}
    {{$sid := printf "/adding-hosts/replica/%s/sid" $dir}}
    {{$ip := printf "/adding-hosts/replica/%s/ip" $dir}}
    '{{getv $sid}}|{{getv $ip}}'
    {{end}})
{{else}}
ADDING_HOSTS=false
{{end}}

{{$dir := ls "/deleting-hosts"}}
{{$len := len $dir}}
{{if gt $len 0 }}
DELETING_HOSTS=true
DELETING_LIST=(
    {{range $dir := lsdir "/deleting-hosts/replica"}}
    {{$sid := printf "/deleting-hosts/replica/%s/sid" $dir}}
    {{$ip := printf "/deleting-hosts/replica/%s/ip" $dir}}
    '{{getv $sid}}|{{getv $ip}}'
    {{end}})
{{else}}
DELETING_HOSTS=false
{{end}}